<div id="noja_container">
 <div id="noja_main"><canvas id="noja_canvas_main"></canvas><img /><img /></div>
 <div id="noja_menu">
  <div>
   <span><a id="noja_close" title="のじゃー縦書リーダーを閉じます。ページ移動しない限りいつでも同じ状態で開くことができます。">のじゃー縦書リーダーを閉じる</a></span> 
   <span><a id="noja_openconfig" title="フォントや改行などの設定ウィンドウを開きます。">表示設定</a></span> 
   <span><a id="noja_openconfig2" title="自動保存などの設定ウィンドウを開きます。">動作設定</a></span> 
   <span><a id="noja_opensaveload" title="データの保存と読み込みウィンドウを開きます。">保存・読み込み</a></span> 
   <span><a id="noja_openhyouka" title="小説評価・感想・レビューのフォームを表示します。">評価・感想</a></span>
   <span><a id="noja_openlink" title="小説ページ情報や感想などの関連リンク">関連リンク</a></span>
   <span><a id="noja_openhelp" title="マウスとキーの操作方法">操作方法</a></span>
   <span><a id="noja_openversion">バージョン情報</a></span>
  </div>
 </div>
 <div id="noja_index"><div></div><a>更新</a></div>
 <div id="noja_pages"><div></div></div>
 <div id="noja_status"></div>
 <div id="noja_config">
  <div class="noja_close_popup"><a id="noja_closeconfig">[閉じる]</a></div>
  <div style="text-align:left">
   <h4 style="text-align:center">表示設定</h4>
   <div>
    <div title="判型を可変にします"><input id="noja_flexibleAspect" type="checkbox" /><label for="noja_flexibleAspect">判型を可変にします</label></div>
    <div title="前書きを表示します"><input id="noja_maegaki" type="checkbox" /><label for="noja_maegaki">前書きを表示する</label></div>
    <div title="後書きを表示します"><input id="noja_atogaki" type="checkbox"/><label for="noja_atogaki">後書きを表示する</label></div>
    <div title="後書きと前書きに枠線を付けます"><input id="noja_layout" type="checkbox" /><label for="noja_layout">レイアウトを変更する</label></div>
   </div>
   <div title="フォントを明朝体とゴシック体から選択します">フォントを選択<br />
    <input type="radio" name="noja_font" id="noja_mincho" /><label for="noja_mincho">明朝体</label><br />
    <input type="radio" name="noja_font" id="noja_gothic" /><label for="noja_gothic">ゴシック体</label>
   </div>
   <div title="二行以上の連続改行を半分にします。">
    <input type="checkbox" id="noja_kaigyou" /><label for="noja_kaigyou">改行を減らす</label>
   </div>
   <div title="下に表示するページ数を一話からの累計ページ数にします。">
    <input type="checkbox" id="noja_allpage" /><label for="noja_allpage">累計ページ数を表示</label>
   </div>
   <div title="横書で表示します。これ縦書リーダーですよ？">
    <input type="checkbox" id="noja_yokogaki" /><label for="noja_yokogaki">横書表示</label>
   </div>
   <div title="文字サイズを変更します">
    文字サイズ
    <div id="noja_dragback" style="border-style:inset; border-width:1px; height:2px; background-color:#CCC; width:200px; margin-bottom:10px;">
     <input id="noja_drag" type="button" value="" style="width:10px; position:relative; height:20px; top:-9px;" /></div>
    <div id="noja_char_line"></div>
    <canvas id="noja_charsize"></canvas>
   </div>
  </div>
 </div>
 <div id="noja_config2">
  <div class="noja_close_popup"><a id="noja_closeconfig2">[閉じる]</a></div>
  <div style="text-align:left">
   <h4 style="text-align:center">動作設定</h4>
   <div title="チェックしておくとページ読み込み直後にこの画面になります。"><input type="checkbox" id="noja_always_open"/><label for="noja_always_open">常に開く</label></div>
   <div>
    <div title="新しい話を読み込んだら自動的に保存します。"><input id="noja_autosave" type="checkbox" /><label for="noja_autosave">自動セーブ</label></div>
    <div title="ページを開いた時に自動的に保存されたデータを復元します。"><input id="noja_autorestore" type="checkbox"/><label for="noja_autorestore">自動ロード</label></div>
    <div title="自動保存時には既にデータの存在する話に上書きしません。"><input id="noja_olddata" type="checkbox" /><label for="noja_olddata">過去のデータを優先する</label></div>
   </div>
  </div>
 </div>
 <div id="noja_saveload">
  <div class="noja_close_popup"><a id="noja_closesaveload">[閉じる]</a></div>
  <div id="noja_saveload_container">
   <h4>セーブ＆ロード</h4>
   <a id="noja_save" title="読んだ分のデータをデータベースに保存します。以前に保存されたデータがある場合、今回読み込まなかった話はそのままですが、今回読み込んだ話は上書きされます。">セーブ</a><br />
   <a id="noja_restore" title="保存したデータを今回読み込まなかった範囲だけ読み込みます。">ロード</a>
  </div>
  <div>
   <h4>ダウンロード</h4>
   <a id="noja_download" title="読み込んだ分をダウンロードします。">ダウンロード(Normal)</a><br />
   <a id="noja_download2" title="ファイル名に日付けと時刻を追加します。">ダウンロード(DateTime)</a><br />
   <a id="noja_download3" title="話ごとのダウンロードリンクのリストを作成します。">ダウンロード(個別)</a>
  </div>
  <div id="noja_import_container">
  </div>
 </div>
 <div id="noja_link">
  <div class="noja_close_popup"><a id="noja_closelink">[閉じる]</a></div>
  <div><a target="_blank"></a></div>
  <div><a target="_blank">小説情報</a></div>
  <div><a target="_blank">感想</a></div>
  <div><a target="_blank">レビュー</a></div>
 </div>
 <div id="noja_version">
  <div class="noja_close_popup"><a id="noja_closeversion">[閉じる]</a></div>
  <div>
   <h4></h4>
   auther:◆TkfnIljons<br />
   Home Page:<a href="http://naroufav.wkeya.com/noja.html" target="_blank">http://naroufav.wkeya.com/noja.html</a><br /><br/>
   Includes:<br />
   jQuery JavaScript Library v2.0.3 <a href="http://jquery.com/" target="_blank">http://jquery.com/</a><br />
   <br />
  </div>
 </div>
 <div id="noja_help">
  <div class="noja_close_popup"><a id="noja_closehelp">[閉じる]</a></div>
  <div>
   <h4>操作方法</h4>
   <div style="text-align:left">リーダーの表示／非表示：Escキー<br/>
   前のページへ移動：画面右側でマウス左クリック／マウスホイール上回転／→キー<br/>
   次のページへ移動：画面左側でマウス左クリック／マウスホイール下回転／←キー<br/>
   前の話へ移動：↑キー<br/>
   次の話へ移動：↓キー<br/>
   話の先頭へ移動：Page Upキー／Homeキー<br/>
   話の最後へ移動：Page Downキー／Endキー<br/>
   メニュー表示：カーソルを上端へ<br/>
   目次表示：カーソルを左端へ<br/>
   ページナビゲーション表示：カーソルを右端へ<br/>
   後書き・前書きの表示・非表示切り替え：Spaceキー<br/>
   ローカルのデータベースに小説を保存：Ctrl+S<br/>
   ローカルのデータベースから小説を読み込み：Ctrl+R</div>
  </div>
 </div>
 <div id="noja_hyouka">
  <div class="noja_close_popup"><a id="noja_closehyouka">[閉じる]</a></div>
  <div><div><table><tbody><tr><td></td><td></td></tr></tbody></table></div></div>
 </div>
 <div id="noja_download_view"><div class="noja_close_popup"><a id="noja_closedv">[閉じる]</a></div><div id="noja_dv_main"></div></div>
 <div id="noja_booklist_view"></div>

<!-- templates -->
<div id="noja_templates">



<!-- autpPagerize用:通常のサイトの貼り付け用途 -->
<!-- subtitleとhonbunはノーチェック -->
<!-- section_no以外は普通に使っているsection objectのprops名そのまま -->
<!-- 旧形式そのままなので修正がいる(現状旧なろうサイト用のまま) -->
<!-- 貼り付け可能かどうかはサイトによる -->
<script id="noja_data_section_template" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div>
	{{if secData._maegaki}}
		<div class="novel_p" data-noja="{{attr:secId}}">
			<div class="novel_view">{{>secData._maegaki}}</div>
		</div>
	{{/if}}

	<div class="novel_subtitle" data-noja="{{attr:secId}}">
		{{if secData.chapter_title}}
			<div class="chapter_title">{{>secData.chapter_title}}</div>
		{{/if}}
		{{>secData.subtitle}}
	</div>

	<div class="novel_view" id="novel_view" style="{{attr:style}}" data-noja="{{attr:secId}}">
		{{>secData._honbun}}
	</div>

	{{if secData._atogaki}}
		<div class="novel_a" data-noja="{{attr:secId}}">
			<div class="novel_view">{{>secData._atogaki}}</div>
		</div>
	{{/if}}
</div>
{{!-- ]]> --}}</script>

<!-- autpPagerize用:noja_download_file領域へ貼り付けるデータを生成 -->
<!-- download用のデータ生成でも同じテンプレ -->
<!-- subtitleとhonbunはノーチェック -->
<script id="noja_section_div_template" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div id="{{attr:idPrefix}}section_{{attr:secId}}">
	{{if secData._maegaki}}
		<div class="{{attr:idPrefix}}maegaki">{{>secData._maegaki}}</div>
	{{/if}}
	{{if secData.chapter_title}}
		<div class="{{attr:idPrefix}}chapter_title">{{>sectData.chapter_title}}</div>
	{{/if}}
	<div class="{{attr:idPrefix}}subtitle">{{>secData.subtitle}}</div>\
	<div class="{{attr:idPrefix}}honbun">{{>secData._honbun}}</div>
	{{if secData._atogaki}}
		<div class="{{attr:idPrefix}}atogaki">{{>secData._atogaki}}</div>
	{{/if}}
</div>
{{!-- ]]> --}}</script>



<!-- download用 -->
<script id="noja_download_data_template" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>\n<html xmlns="http://www.w3.org/1999/xhtml">
{{:downloadId}}
<!--
{{:info}}
-->
<head>
	<title>{{>title}}</title>
	<meta charset="utf-8" />
</head>
<body>
	<div>
		<div id="{{attr:id}}" style="{{attr:style}}">
			{{:contents}}
		</div>
	</div>
</body>
</html>
{{!-- ]]> --}}</script>


<script id="NarouSite_bookmark" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div>
	<img src="{{url:src}}" alt="しおり" />
	<a id="noja_shiori" target="_blank">しおりを挿む</a>
</div>
{{!-- ]]> --}}</script>



<script id="AppModeSite_linkmenu" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div style="text-align:right; border-bottom-width:1px; border-bottom-style:solid;">
	<a id="noja_closelink">[閉じる]</a>
</div>
{{!-- ]]> --}}</script>

<script id="AppModeSite_import_menuitem" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<h4>読み込み</h4>
<div id="noja_file_back">
<input id="noja_file" type="file" value="" accept="text/html, application/zip" multiple="true" >
</div>
<br />
<br />
<a id="noja_yomikomi" noja_import_file_url="{{url:url}}">保存・読み込み機能について</a>
{{!-- ]]> --}}</script>


<script id="AppModeSite_saveload_booklist_menuitem" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<br />
<a id="noja_booklist">保存した小説リスト</a>
{{!-- ]]> --}}</script>
<script id="AppModeSite_version_extra_menuitem" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<br />
<br />
<a id="noja_kokuhaku" noja_import_file_url="{{url:url}}">関係のない話</a>
{{!-- ]]> --}}</script>


<script id="nojaTwitterText" type="text/x-jsrender">{{!-- <![CDATA[ --}}
{{:url}}\n
「{{:title}}」読んだ！\n
#{{:hash1}} #{{:hash2}}
{{!-- ]]> --}}</script>

<script id="nojaBookListItem" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div id="noja_book_container_{{attr:id}}">
	<a id="noja_book_delete_{{attr:id}}" class="noja_book_delete" noja_novel_id="{{attr:id}}">削除</a>
	<a id="noja_book_{{attr:id}}" class="noja_book" noja_novel_id="{{attr:id}}">
		{{>title}}
	</a>
	　作者：{{>author}
</div>
{{!-- ]]> --}}</script>


<script id="nojaBookListView" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div class="noja_close_popup">
	<a id="noja_closebv">[閉じる]</a>
</div>
<div>
{{if contents.length}}
  {{for contents tmp='nojaBookListItem' /}}
{{else}}
	保存した小説はありません。
{{/if}}
</div>
{{!-- ]]> --}}</script>

<!-- ポイント -->
<script id="NarouNocMoonSite_vote_point" type="text/x-jsrender">{{!-- <![CDATA[ --}}
{{if login}}
<input type="hidden" value="{{attr:token}}" name="token" />
<input type="{{attr:type}}" class="{{attr:class}}" value="{{attr:value}}" id="{{attr:id}}" />
{{else}}
<input type="hidden" value="" name="token" />
※評価するにはログインしてください。
{{/if}}
{{!-- ]]> --}}</script>


<!-- ポイント -->
<script id="NarouNocMoonSite_Radiobox" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div class="inline">
 <span class="RadioboxBigOrb">
  <input id="noja_bunsyopoint{{:score}}" class="InputHidden" name="{{:name}}"
   value="{{:score}}" type="radio"
   {{if checked}}
    checked="checked"
   {{/if}}
  />
  <a
   {{if checked}}
    class="RadioboxCheckedBigOrb"
   {{else}}
    class="RadioboxUncheckedBigOrb"
   {{/if}}
  name="{{:name}}"></a>
  <span style="margin: 0px 0px 0px 22px;">{{:score}}pt</span>
 </span>
</div>
<div class="clr"></div>
{{!-- ]]> --}}</script>


<!-- ポイント -->
<script id="NarouNocMoonSite_point_panel" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div class="novel_hyouka">
 <div class="hyouka_h">評価</div>
 <div class="hyouka_in">
  <span class="attention">ポイントを選んで「評価する」ボタンを押してください。</span>
  <br />
  <br />
  <form method="get" name="Myform" target="_blank" action="{{url:pointRegisterURL}}">
   ▼この作品の書き方はどうでしたか？(文法・文章評価)
   <br />
   {{for bunsyopoint tmpl="NarouNocMoonSite_Radiobox" /}}
   <div style="padding-top:25px;">
    ▼物語(ストーリー)はどうでしたか？満足しましたか？(ストーリー評価)
   </div>
   {{for storypoint tmpl="NarouNocMoonSite_Radiobox" /}}
   <div class="agree" style="padding-top:25px;">
    {{if login}}
     <input type="hidden" value="{{attr:token}}" name="token" />
     <input type="submit" class="button" value="評価する" id="pointinput" />
    {{else}}
     <input type="hidden" value="" name="token" />
     ※評価するにはログインしてください。
    {{/if}}
   </div>
  </form>
 </div>
 <div class="hyouka_h">ついったーで読了宣言！</div>
 <div class="hyouka_in">
  <a target="_blank">
   <img alt="ついったー" width="250" height="46" border="0" />
  </a>
  <br />
 </div>
</div>
{{!-- ]]> --}}</script>



<!-- 感想・レビュー -->
<script id="NarouNocMoonSite_login_warning" type="text/x-jsrender">{{!-- <![CDATA[ --}}
※{{>itemTitle}}を書く場合は
<a href="{{url:loginURL}}" style="color:#0033cc;">ログイン</a>
してください。<br />
{{!-- ]]> --}}</script>



<!-- 感想・レビュー -->
<script id="NocMoonSite_select_account_type" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<select name="usertype">
 <option value="xuser">Xアカウントで書き込み</option>
 <option value="">通常アカウントで書き込み</option>
</select>
{{!-- ]]> --}}</script>

<!-- textareaのcols,rows指定はフォントサイズによってはレイアウト崩れになる -->

<!-- 感想 -->
<!-- noja_f_cr -->
<script id="nojaFCR" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div class="hyoukanavi_title">―　感想を書く　―</div>
<form method="post" target="_blank" action="{{url:confirmURL}}">
 <div style="text-align:left; margin-left:30px;">
  <a id="noja_impression_list" style="color:#0033cc;" target="_blank" href="{{url:listURL}}">⇒感想一覧を見る</a>
  <br />
  {{if !login tmp="NarouNocMoonSite_login_warning" /}}
  <div id="noja_impression_usertype">
   {{if selectUserType tmpl="NocMoonSite_select_account_type" /}}
  </div>
  <div style="margin: 10px 0px 10px 0px; font-size:90%;">
   ▼良い点<br />
   <textarea cols="45" rows="3" name="goodcomment"></textarea>
  </div>
  <div style="margin: 10px 0px 10px 0px;">
   ▼悪い点<br />
   <textarea cols="45" rows="3" name="badcomment"></textarea>
  </div>
  <div style="margin: 10px 0px 0px 0px;">
   ▼一言<br />
   <textarea cols="45" rows="5" name="hitokoto"></textarea>
  </div>
  <br />
  <input type="checkbox" name="is_nendai_kokai" value="1" />
  年代情報を公開する(23歳～29歳)<br />
  <input type="checkbox" name="is_sex_kokai" value="1" />
  性別情報を公開する<br />
  <br />
  １項目の入力から送信できます。<br />
  <a target="_blank" href="http://syosetu.com/man/impression/" style="color:#0033cc;">感想を書く場合の注意事項</a>を必ずお読みください。
 </div>
 {{if login}}
  <input type="submit" class="button" value="感想を書く" id="impressionconfirm" />
 {{/if}}
</form>
{{!-- ]]> --}}</script>


<!-- レビュー -->
<!-- noja_r_fc : initial display:none -->
<script id="nojaRFC" type="text/x-jsrender">{{!-- <![CDATA[ --}}
<div class="hyoukanavi_title">―　お薦めレビューを書く　―</div>
<span class="attention">※</span>は必須項目です。
<form id="formtable" method="post" target="_blank" action="{{url:confirmURL}}">
 <div style="text-align:left; margin-left:30px;">
  <a id="noja_novelreview_list" style="color:#0033cc;" target="_blank" href="{{url:listURL}}">⇒レビュー一覧を見る</a>
  <br />
  {{if !login tmp="NarouNocMoonSite_login_warning" /}}
  <div id="noja_novelreview_usertype">
   {{if selectUserType tmpl="NocMoonSite_select_account_type" /}}
  </div>
  <div style="font-weight:bold; margin-top:10px;">
   <span class="attention">※</span>レビュータイトル
  </div>
  <div style="margin-bottom:10px;">
   <input type="text" name="reviewtitle" value="" size="60" />
   <br />
   <label class="form">8文字以上、100文字以内で入力</label>
  </div>
  <div style="font-weight:bold;">
   <span class="attention">※</span>レビュー本文
  </div>
  <div style="margin-bottom:10px;">
   <textarea cols="45" rows="13" id="novel" name="reviewhonbun" onkeyup="review_charcount();"></textarea>
   <br />
   <span id="shortmes" class="attention" style="margin-left:0.5em"></span>
   <span id="mes" style="color:olive;"></span>
   <span id="overmes" class="attention"></span>
   <br />
   <label class="form">
    空白・改行含まない150文字以上、<br />
    空白・改行含む400文字以内で入力
   </label>
  </div>
 </div>
 {{if login}}
  <input type="submit" class="button" value="レビュー追加" id="reviewinput" />
 {{/if}}
</form>
{{!-- ]]> --}}</script>



</div>
<!-- end of templates -->

</div>
